rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /users/{userId}{
      allow read, write: if  request.auth.uid == userId;
      match /mySpaces/{mySpaceId}/{allPaths=**} {
        allow read: if request.auth.uid==userId; // Public read access for all mySpaces content
        allow write: if request.auth.uid == userId;
      }
    }
    match /offerings/{offeringId} {
     
      allow read, write: if true;
    }
  }
}
